---
---

@font-face {
    font-family: Raisonne Light;
   
  
    src: url(/assets/fonts/raisonne-light.woff)
  }
  
  @font-face {
    font-family: Raisonne Regular;
    src: url(/assets/fonts/raisonne-regular.woff);
  }
  
  @font-face {
    font-family: Raisonne Demibold;
    src: url(/assets/fonts/raisonne-demibold.woff);
  }
  

$break-small: 400px;
$break-large: 1200px;
$background:#f2f1ef;
$blue:#2454a6;
$red:#e42759;
$typography: Raisonne Regular;
$typography1: Raisonne Demibold;

body {
    background-color: $background;
    color:$blue;
    font-weight: 300;
    line-height: 1.2;
    font-family: $typography;
    max-width: 780px;

    @media screen and (min-width: $break-large) {
    margin:80px auto 0 auto;}


    @media screen and (max-width: $break-small) {
      margin: 10px;}

}

h1 {
    font-size: 80px;
    font-weight:700;
}

h2 {

  @media screen and (min-width: $break-large) {
    font-family: $typography1;
    font-size: 40px;
    font-weight:700;
  }
}



h2 {
  @media screen and (max-width: $break-small) {
    font-family: $typography1;
    font-size: 24px;
    font-weight:700;
  }
   
}

h3 {

  @media screen and (min-width: $break-large) {
    font-size: 24px;
    font-weight:400;
  }

  


  @media screen and (max-width: $break-small) {
    font-size: 16px;
    font-weight:400;
  }

  }

header {

  @media screen and (min-width: $break-large) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }


  @media screen and (max-width: $break-small) {
    
    align-items: center;
    margin-bottom: 40px;
  }

}



section {

  @media screen and (min-width: $break-large) {
    align-items: center;
  }
}




section {

  @media screen and (max-width: $break-small) {
    text-align: center;
  }
}



a {
    color: $blue;
    text-decoration: none;  
}



a.selected, p a {
color: $blue;
text-decoration: none;
border-bottom: 3px solid $red;
}





p.read-more {
  font-family: $typography1;
  padding-bottom: 50px;
}





div.blog-posts {
  @media screen and (min-width: $break-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    justify-content: center;
  }


  @media screen and (max-width: $break-small) {
    
    text-align: center;
  }


}

a {
    text-decoration: none;
    color: $blue;
    display: inline-block;
    margin: 0 0 0 0;
}



img.logo {
  @media screen and (min-width: $break-large) {
    margin-bottom: 80px;
    width: 500px;
  }


  @media screen and (max-width: $break-small) {
    margin-bottom: 0px;
    width: 300px;
  }
}


  header a {

    @media screen and (min-width: $break-large) {
      margin: 20px;
    font-size: 16px;
    }


    @media screen and (max-width: $break-small) {
      margin: 10px;
    font-size: 12px;
    }

  }


  div.post {

    h3 {
    margin-top: 0px;
    }

    p {

      @media screen and (min-width: $break-large) {
        max-width: 650px;
        margin-bottom: 40px;
      }
    }

    p {
      @media screen and (max-width: $break-small) {
        max-width: 500px;
        margin-bottom: 20px;
      }
    }

    p img {

      @media screen and (min-width: $break-large) {
        max-width: 780px;
    }
  }

    p img {

      @media screen and (min-width: $break-small) {
        max-width: 400px;
    }


  }
}



  


  div.blog-posts p {

    @media screen and (max-width: $break-small) {
      max-width: 400px;
      margin-bottom: 20px;
    }


    @media screen and (min-width: $break-large) {
      max-width: 650px;
      margin-bottom: 40px;
    }

  }


  a img {

    @media screen and (max-width: $break-large) {
      max-width: 700px;
      
    }


    @media screen and (max-width: $break-small) {
      max-width: 300px;
      
    }

  }

