---
---

@font-face {
    font-family: Raisonne Light;
   
  
    src: url(assets/fonts/raisonne-light.woff)
  }
  
  @font-face {
    font-family: Raisonne Regular;
    src: url(assets/fonts/raisonne-regular.woff);
  }
  
  @font-face {
    font-family: Raisonne Demibold;
    src: url(assets/fonts/raisonne-demibold.woff);
  }
  


$background:#f2f1ef;
$blue:#2454a6;
$red:#e42759;
$typography: Raisonne Regular;

body {
    background-color: $background;
    color:$blue;
    font-weight: 300;
    line-height: 1.2;
    font-family: $typography;
    max-width: 780px;
    margin:80px auto 0 auto;
}

h1 {
    font-size: 80px;
    font-weight:700;
}

h2 {
    font-size: 40px;
    font-weight:700;
}

h3 {
    font-size: 24px;
    font-weight:400;
}

header {
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
}



section {
    margin: 0 0 0 0;
}

nav a {
    color: $blue;
    text-decoration: none;  
}

nav a.selected, p a {
color: $blue;
text-decoration: none;
border-bottom: 3px solid $red;
}

img {
 max-width: 780px;   
}



p.read-more {
    font-weight:700;
    padding-bottom: 50px;
}

div.blog-posts {
    max-width: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  

}

a {
    text-decoration: none;
    color: $blue;
    display: inline-block;
    margin: 0 0 0 0;
}



div.logo {
    background-repeat: no-repeat;
    height: 400px;
    width: 520px;
    background-image: url(/assets/images/flag.svg);
  }

  header a {
    margin: 20px;
  }


  div.post {

    h3 {
    margin-top: 0px;
    }

    p {
    max-width: 540px;
    margin-bottom: 40px;
    }

    img {
        max-width: 780px;
    }
  }

  div.blog-posts {

    img {
        max-width: 400px;
    }

  }


/* ------------ PHONE ------------ */
@media (max-width: 400px) {
  
  body {
    
    max-width: 400px;
    margin: 40px auto 0 auto;
}


header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

div.logo {
  background-repeat: no-repeat;
  height: 200px;
  width: 350px;
  background-image: url(/assets/images/flag.svg);
}

section {
  margin: 40px 20px 20px 20px;
}


div.blog-posts img {
  max-width: 350px;
}


h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight:400;
}




}